@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.colHeader {
    @apply cursor-pointer;
    max-width: 99px;
}

.axis-label {
    @apply hidden;
}

@media screen(md) {
    .axis-label {
        display: unset;
    }
}

#xplot,
#mrplot {
    background: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url(../xmrit-logo.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
}

.js-toc a {
    @apply text-slate-600 hover:text-blue-700;
}

.js-toc li {
    @apply mb-2;
}

.js-toc ol,
.js-toc ul {
    @apply ml-4 mt-2 list-disc;
}

.js-toc ol.is-collapsible,
.js-toc ul.is-collapsible {
    list-style: circle;
}

.handsontable .duplicate,
#duplicate-data-warning {
    background-color: #fffced;
}

.words {
    display: inline-grid;
    border-radius: 6px;
    color: var(--color, #000);
    background: var(--color-bg, #fff);
}

.words span {
    grid-area: 1/1;
    @apply hidden;
}

.words span.current {
    @apply block;
}

.cta-box {
    @apply mb-5 rounded-lg border border-blue-400 bg-gradient-to-r from-[#f0fdfa] to-[#f0f9ff] px-3 py-3 md:px-4 lg:px-5;
}
